.resume {
    padding-top: 120px;
    &__wrapper {
        display: grid;
        padding: 60px 65px 0 65px;
        grid-template-columns: repeat(2, 425px);
        column-gap: 135px;
    }
    &__column {
        &-title {
            position: relative;
            padding-left: 35px;
            &:before {
                content: '';
                position: absolute;
                width: 15px;
                height: 15px;
                border-radius: 100%;
                background: $main-color;
                left: -6px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        ul {
            list-style-type: none;
            position: relative;
            li {
                &:after {
                    content: '';
                    width: 2px;
                    height: 100%;
                    position: absolute;
                    top: -16px;
                    left: 0;
                    background-color: #000;
                }
            }
        }
    }
    &__item {
        position: relative;
        min-height: 130px;
        &:before {
            content: '';
            position: absolute;
            height: 2px;
            width: 45px;
            background-color: #000;
            top: 54px;
        }
        &-head {
            position: relative;
            padding: 35px 0 0 100px;
            h4 {
                margin-bottom: 0;
            }
        }
        &-body {
            padding-left: 43px;
            margin-top: 12px;
            font-size: 14px;
            line-height: 18px;
        }
        &-icon {
            position: absolute;
            top: 37px;
            left: 45px;
            @include before_circle;
            img {
                position: absolute;
                left: 17px;
                top: 14px;
            }
        }
        &-location {
            margin-top: 5px;
            font-size: 12px;
            line-height: 18px;
        }
    }
}